<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">
  <title>XX后台管理系统</title>
</head>

<body>
  <div class="container">
    <%- include('./common/head') %>

      <div class="main">
        <%- include('./common/menu') %>
          <div class="body">
            <form class="form-inline search-bar">
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail3">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
              </div>
              <button type="submit" class="btn btn-primary">搜索</button>
            </form>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>用户名</th>
                  <th>昵称</th>
                  <th>年龄</th>
                  <th>性别</th>
                  <th>权限</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i = 0; i < list.length; i++) { %>
                  <tr>
                    <td><%= i+1 %></td>
                    <td><%= list[i].username %></td>
                    <td><%= list[i].nickname %></td>
                    <td><%= list[i].age %></td>
                    <td><%= list[i].sex %></td>
                    <td><%= list[i].isAdmin %></td>
                    <td><a href="/users/delete?id=<%= list[i]._id %>">删除</a></td>
                  </tr>
               <% }%>
              </tbody>
            </table>
            <nav aria-label="Page navigation" class="nav">
              <ul class="pagination">
                <li class="<%= currentPage  == 1 ? 'disabled':''%>">
                  <a href="/users?page=<%= currentPage -1 < 1 ? 1:currentPage -1 %>&pageSize=<%= pageSize%>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <% for(var i = 0; i < totalPage; i++){ %>
                  <li class="<%= currentPage == (i+1) ? 'active' : '' %>"><a href="/users?page=<%= i+1 %>&pageSize=<%= pageSize %>"><%= i + 1 %></a></li>
                <% } %>
                
                <li class="<%= currentPage == totalPage ? 'disabled':'' %>">
                  <a href="/users?page=<%= currentPage + 1 > totalPage ? totalPage:currentPage + 1 %>&pageSize=<%= pageSize%>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
      </div>
      <%- include('./common/foot') %>
  </div>
</body>

</html>